.link{
    display: inline;
    font-family: roboto;
}
.nav-link{
    font-weight: bold;
    color: black;
    border: 1px solid blue;
}
.nav-link2{
    font-weight: bold;
    color: chartreuse;
    border: 1px solid red;
}
.nav-link3{
    font-weight: bold;
    color: blue;
    border: 1px solid green;
}
.nav-link4{
    font-weight: bold;
    color: purple;
    border: 1px solid orange;
}